.auth-menu {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    li {
      padding-right: 20px;
      &:last-child {
        padding-right: 0;
      }
      a {
        font-family: SFDisplayB;
        font-size: 14px;
        text-transform: uppercase;
        color: #0d0321;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 590px) {
  .auth-menu {
    &.float-right {
      float: left !important;
    }
    ul {
      li {
        padding-right: 6px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .search-column {
    margin: 25px 0;
  }
  .auth-menu {
    ul {
      li {
        padding-right: 15px;
      }
    }
  }
}
